/*.title {*/
    /*display: block;*/
    /*font-weight: bold;*/
    /*font-size: 25px;*/
/*}*/

/*.title .title_buttons {*/
    /*display: inline-block;*/
    /*font-size: 10px;*/
    /*position: relative;*/
    /*top: -6px;*/
/*}*/

/*.description {*/
    /*font-size: 17px;*/
    /*margin-bottom: 3px;*/
/*}*/

/*.author {*/
    /*font-size: 11px;*/
    /*font-style: italic;*/
    /*opacity: 0.7;*/
    /*margin-bottom: 5px;*/
/*}*/

/*#terms.k-widget {*/
    /*background-color: #f8f8f8;*/
    /*border-style: none;*/
    /*border-width: initial;*/
    /*-webkit-appearance: none;*/
    /*margin-bottom: 20px;*/
    /*border-radius: 4px;*/
/*}*/

/*.term_item {*/
    /*color: #777;*/
    /*padding: 5px 15px;*/
/*}*/

/*.term_item .description {*/
    /*text-align: justify;*/
/*}*/

/*.k-pager-wrap {*/
    /*background-color: #f8f8f8;*/
    /*border-radius: 4px;*/
    /*border-color: #e7e7e7;*/
/*}*/

/*#index {*/
    /*text-align: center;*/
    /*font-size: 20px;*/
    /*margin-bottom: 20px;*/
/*}*/

/*.letter {*/
    /*margin-right: 3px;*/
/*}*/

/*a:hover {*/
    /*cursor: hand;*/
    /*cursor: pointer;*/
/*}*/

